*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
body{
    background-color: #EEEDD9;
}
.contenedor{
    width: 90%;
    max-width: 1400px;
    margin: auto;
}
header{
    padding: 20px;
}
header .fila{
    display: flex;
    justify-content: space-between;
}
header nav{
    width: 85%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
header nav a{
    display: inline-block;
    font-family: 'Karma';
    font-size: 20px;
    text-transform: uppercase;
    color: #000;
}
header .enlaces-header{
    display: flex;
    align-items: center;
}
header .enlaces-header a{
    display: inline-block;
    width: 30px;
    height: 30px;
}
header .enlaces-header a img {
    width: 100%;
}
header .enlaces-header div.vertical{
    margin: 0 15px;
    border: 1px solid rgba(0, 0, 0, 0.36);
    height: 30px;
}
.tarjetas-home{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
}
.tarjeta-home.vinedos{
    background: url(../imagenes/vinedos-card.png);
    background-size: cover;
    background-position: right;
}
.tarjeta-home.vinos{
    background: url(../imagenes/vinos-card.png);
    background-size: cover;
    background-position: right;
}
.tarjeta-home.exclusivos{
    background: url(../imagenes/exclusivos-card.png);
    background-size: cover;
    background-position: right;
}
.tarjeta-home{
    width: 30%;
    height: 600px;
    border-radius: 22px;   
}
.tarjeta-home .contenido{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(180, 65, 0, 0.66);
    transition: all 0.35s ease-in-out;
    opacity: 0;
    font-family: 'Ledger';
    border-radius: 22px;
}
.tarjeta-home .contenido a{
    color: #fff;
    font-size: 50px;
    text-transform: uppercase;
}

.tarjeta-home:hover .contenido{
    opacity: 1;
}

.nuestra-historia{
    padding: 200px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nuestra-historia .col-texto{
    width: 40%;
}
.nuestra-historia .col-img{
    width: 60%;
    position: relative;
}
.nuestra-historia .col-img .col-texto{
    display: flexbox;
    width: 300px;
    height: 106px;
    background: #2D1212;
    border-radius: 0px 21px 56px 0px;
    position: relative;
    bottom: -66px;
    left: 30px;
}
.nuestra-historia .col-texto h2{
    text-transform: uppercase;
    color: #450D09;
    font-family: 'League Spartan';
    font-weight: 400;
    font-size: 40px;
}
.nuestra-historia .col-texto p{
    line-height: 1.5;
    font-size: 25px;
    font-family: 'Ledger';
    text-align: justify;
}
.nuestra-historia .col-texto p:nth-child(2){
    margin: 20px 0;
}
.nuestra-historia .col-img img {
    max-width: 85%;
    display: block;
    margin: auto;
    border-radius: 22px;
}
.ordena-ahora{
    background: url(../imagenes/fondo-ordene-ahora.png) rgba(100, 33, 18, 0.62);
    background-blend-mode: multiply;
    padding-top: 40px;
    background-position: center top;
    background-size: cover;
    display: flex;
}
.ordena-ahora h2{
    color: #6D0000;
    font-size: 64px;
    font-weight: normal;
    font-family: 'League Spartan';
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 40px;
}
.ordena-ahora p{
    color: #fff;
    font-size: 25px;
    font-family: 'Ledger';
    text-align: center;
    max-width: 80%;
    margin: auto;
    line-height: 50px;
}
.ordena-ahora .botones-ordenar{
    width: 50%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    margin-top: 140px;
    margin-bottom: 400px;
}
.ordena-ahora .botones-ordenar a.btn-uber-eats{
    background: #E9E9E9;
    border-radius: 35px;
    padding: 12px 30px;
    max-width: 340px;
}
.ordena-ahora .botones-ordenar a.btn-uber-eats img{
    width: 95%;
    display: block;
    margin: auto;
}
.ordena-ahora .botones-ordenar a:not(.btn-uber-eats){
    background: #FF3232;
    border-radius: 35px;
    text-transform: uppercase;
    color: #fff;
    font-family: 'League Spartan';
    font-size: 40px;
    width: 280px;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer{
    background: #4F0808;
    padding-top: 20px;
    padding-bottom: 15px;
    color: #fff;
    font-family: 'League Spartan';
}
footer .contenedor{
    display: flex;
    flex-direction: column;
    align-items: center;
}
footer h3{
    color: #fff;
    font-size: 40px;
    font-weight: 400;
}
footer .iconos-redes-sociales{
    margin: 90px 0;
    width: 250px;
    display: flex;
    justify-content: space-between;
}
footer .iconos-redes-sociales a img{
    max-width: 100%;
    height: 50px;
    width: 50px;
}
footer .datos-footer{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
footer .datos-footer .correo{
    text-decoration: underline;
}
footer .datos-footer .copyright{
    width: 100%;
    text-align: right;
}
h1.vinedos-h1, .nuestros-vinedos, .vinedos-txt{
    font-family: 'Ledger';
    text-align: center;
}
h1.vinedos-h1{
    text-transform: uppercase;
    font-weight: 400;
    font-size: 52px;
}
.nuestros-vinedos{
    font-size: 25px;
    margin: 20px 0;
}
.vinedos-txt{
    font-size: 22px;
    line-height: 50px;
    max-width: 60%;
    margin: auto;
    margin-bottom: 30px;
}
.vinedo-banner.vinedo-1{
    background-image: url(../imagenes/vinedo-1-banner.png);
}
.vinedo-banner.vinedo-2{
    background-image: url(../imagenes/vinedo-2-banner.png);
}
.vinedo-banner.vinedo-3{
    background-image: url(../imagenes/vinedo-3-banner.png);
}
.vinedo-banner{
    background-size: cover;
    min-height: 800px;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: flex-end;
}
.vinedo-banner.vinedo-banner.vinedo-2{
    align-items: flex-start;
}
.vinedo-banner .contenedor{
    margin: 0;
    width: auto;
    padding: 0 230px 100px 0;
}
.vinedo-banner.vinedo-2 .contenedor{
    padding: 0 0 100px 130px;
}
.vinedo-banner h2{
    font-size: 50px;
    color: #fff;
    font-family: 'Lexend Tera';
    text-transform: uppercase;
}
.vinedo-banner p{
    color: #fff;
    font-family: 'M PLUS 1 Code';
    font-size: 25px;
    padding-left: 15px;
}
.datos-vinedo{
    font-family: 'Ledger';
    padding: 80px 0;
}
.datos-vinedo.alt{
    background: #502D2D;
    color: #fff;
}
.datos-vinedo p{
    text-align: center;
    font-size: 24px;
    width: 85%;
    margin: auto;
}

