*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
@import url("https://fonts.googleapis.com/css?family=League+Spartan:400,200,100|Libre+Baskerville:400,400italic|Karma:400|Ledger:400|Lexend+Tera:400|M+Plus+1+Code:400|Playfair+Display:ital@1&display=swap");
body{
    background-color: #EEEDD9;
}
.contenedor{
    width: 90%;
    max-width: 1400px;
    margin: auto;
}
header{
    padding: 20px;
}
header .fila{
    display: flex;
    justify-content: space-between;
}
header nav{
    width: 85%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
header nav a{
    display: inline-block;
    font-family: 'Karma';
    font-size: 20px;
    text-transform: uppercase;
    color: #000;
}
header .enlaces-header{
    display: flex;
    align-items: center;
}
header .enlaces-header a{
    display: inline-block;
    width: 30px;
    height: 30px;
}
header .enlaces-header a img {
    width: 100%;
}
header .enlaces-header div.vertical{
    margin: 0 15px;
    border: 1px solid rgba(0, 0, 0, 0.36);
    height: 30px;
}

.cont-Producto{

    /* display: flex;
    justify-content: center;
     */
     transform: translateY(40%);
    height: 25rem;
    /* border: green 3px solid; */
}

.contIzquierda{
    height: 100%;
    width: 50%;
    /*border:red 3px solid;*/
}

.contDerecha{
    
    height: 100%;
    width: 50%;
    /*border:blue 3px solid;*/
    transform: translate(100%,-100%);
    
}
.contIzquierda h1{
    text-align: center;
    transform: translate(0%,400%);
    /*color: red;*/
    
}
.contRojo{
    border-radius: 2rem;
    height: 50%;
    background-color: #520303;
    transform: translate(50%,25%);
    width: 60%;
}
.contBotones{
    display: inline-block;
    width: 10%;
   /* border: green 3px solid;*/
}
.precio{
    display: inline-block;
    width: 25%;
    /*border: green 3px solid;*/
}
.labelCant{
    display: inline-block;
    width: 25%;
    /*border: green 3px solid;*/
}

.buttonAñadir{
    display: inline-block;
    width: 30%;
    /*border: green 3px solid;*/
}
input[type="submit"]{
    width: 100%;
    height: 50px;
    border: 1px solid;
    background: #520303;
    border-radius: 25px;
    font-size: 18px;
    color:#EEEDD9;
    cursor: pointer;
    outline: none;
}
.contDerecha h1{
    font-family: 'League Spartan';
}
.contDerecha h2{
    font-family: 'Playfair Display', serif;
    font-size: 20px;
}
.contDerecha p{
    font-family: 'Ledger';
}

footer{
    
    background: #4F0808;
    transform: translateY(150%);
    
    color: #fff;
    font-family: 'League Spartan';
    /* border: green 3px solid; */
}
footer .contenedor{
    display: flex;
    flex-direction: column;
    align-items: center;
}
footer h3{
    color: #fff;
    font-size: 40px;
    font-weight: 400;
}
footer .iconos-redes-sociales{
    margin: 90px 0;
    width: 250px;
    display: flex;
    justify-content: space-between;

}
footer .iconos-redes-sociales a img{
    max-width: 100%;
    height: 50px;
    width: 50px;
}
footer .datos-footer{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
footer .datos-footer .correo{
    text-decoration: underline;
}
footer .datos-footer .copyright{
    width: 100%;
    text-align: right;
}