*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
body{
    background-color: #EEEDD9;
}
.contenedor{
    width: 90%;
    max-width: 1400px;
    margin: auto;
}
header{
    padding: 20px;
}
header .fila{
    display: flex;
    justify-content: space-between;
}
header nav{
    width: 85%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
header nav a{
    display: inline-block;
    font-family: 'Karma';
    font-size: 20px;
    text-transform: uppercase;
    color: #000;
}
header .enlaces-header{
    display: flex;
    align-items: center;
}
header .enlaces-header a{
    display: inline-block;
    width: 30px;
    height: 30px;
}
header .enlaces-header a img {
    width: 100%;
}
header .enlaces-header div.vertical{
    margin: 0 15px;
    border: 1px solid rgba(0, 0, 0, 0.36);
    height: 30px;
}

.contenedor_central{
    display: inline-block;
    position:relative;
    top:80%;
    left: 50%;
    transform: translate(-50%);
    width: 400px;
    background: white;
    border-radius: 10px;
    /* border: red 1px solid; */

}

/* Contenedores colores */

.cont_derecha{
    /* border: blue 1px solid; */
    padding-top: 20px
}



.cont_izquierda{
    /* border: yellow 1px solid; */
    padding-top: 20px;
}


.cont_derecha h2{
    font-family: 'League Spartan';
}
.cont_izquierda h2{
    font-family: 'League Spartan';
}

.contenedor_central h1{
    text-align: center;
    margin-top: 25px;
    padding: 10px 0 20px 0;
    font-family: 'League Spartan';
    border-bottom: 1px solid silver;
    /* border: green 1px solid; */
    
}
.contenedor_central form{
    padding: 0 40px;
    box-sizing: border-box;
}
form .text_field{
    position: relative;
    border-bottom: 2px solid #adadad;
    margin: 30px 0;
}


.text_field input{
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border:none;
    background: none;
    outline: none;

    /* border: red 1px solid; */
}
/* Fecha Cumpleaños */
.cumple_field input{
    top: 50%;
    left: 5px;
    color: #adadad;
    font-size: 16px;
    
    /* border: green 1px solid; */
}
.text_field label{
    position: absolute;
    top: 50%;
    left: 5px;
    color: #adadad;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: .5s;

    /* border: green 1px solid; */
}
.text_field span::before{
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 0%;
    height: 2px;
    background: rgb(97, 8, 8);
    transition: .5s;
   
}

.text_field input:focus ~ label,
.text_field input:valid ~ label{
    top: -5px;
    color: #520303;
}
.text_field input:focus ~ span::before,
.text_field input:valid ~ span::before{
    width: 100%;
}
input[type="submit"]{
    width: 100%;
    height: 50px;
    border: 1px solid;
    background: #520303;
    border-radius: 25px;
    font-size: 18px;
    color:#EEEDD9;
    cursor: pointer;
    outline: none;
}
input[type="date"]:invalid::-webkit-datetime-edit{
    
  
    content: '';
    color: #000;
    position: absolute;
    top: 40px;
    left: 0;
    width: 0%;
    height: 2px;
    transition: .5s;
    
    
}

[type="submit"]:hover{
    background: rgb(1, 1, 1)gb(240, 3, 34);
    transition: .5s;
}
.registrarse_link{
    margin: 30px 0;
    text-align: center;
    font-size: 16px;
    color: #666666;
}
.registrarse_link a{
    color:rgb(97, 8, 8);
    text-decoration: none;
}
.registrarse_link a:hover{
    text-decoration: underline;
}

