:root{
    --crater-brown: #532222;
}

body{
    background-color: #EEEDD9;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

@import url("https://fonts.googleapis.com/css?family=League+Spartan:400,200,100|Libre+Baskerville:400,400italic|Karma:400|Ledger:400|Lexend+Tera:400|M+Plus+1+Code:400|Playfair+Display:ital@1&display=swap");

.contenedor{
    width: 90%;
    max-width: 1400px;
    margin: auto;
}
header{
    padding: 20px;
}
header .fila{
    display: flex;
    justify-content: space-between;
}
header .icono-user{

    justify-content: center;
    display: flex;
    
}

.icono-user img{
    height: 5vh;
    width: 5vw;

}

header nav{
    width: 85%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
header nav a{
    display: inline-block;
    font-family: 'Karma';
    font-size: 20px;
    text-transform: uppercase;
    color: #000;
}
header .enlaces-header{
    display: flex;
    align-items: center;
}
header .enlaces-header a{
    display: inline-block;
    width: 30px;
    height: 30px;
}
header .enlaces-header a img {
    width: 100%;
}
header .enlaces-header div.vertical{
    margin: 0 15px;
    border: 1px solid rgba(0, 0, 0, 0.36);
    height: 30px;
}

.inicioVinos{

    text-align: center;
    /* border:black 3px solid; */
}

.inicioVinos .tituloVinos{
    margin-top: 5%;
    

    font-family: 'Ledger';
    font-size: 70px;

    /* border: green 3px solid; */
}

.inicioVinos .subtitleVinos{
    margin-top: 2%;
    margin-bottom: 5%;
    
    font-weight: 400;
    font-family: 'Playfair Display', serif;
    font-size: 28px;

    /* border: red 3px solid; */
}
.inicioVinos p{
    text-align: center;
    
    margin-left: 25%;
    width: 50%;
    font-family: 'Ledger';
    font-size: 26px;

}

.categoria{
    align-self: flex-start;
    height: 77px;
    letter-spacing: 0;
    line-height: normal;
    text-align: center;
    width: 493px;

    font-family: 'League Spartan';
    font-size: 48px;
    color: var(--crater-brown);

}

.vinos-populares h2{
    font-family: 'League Spartan';
    margin-top: 40px;
    font-size: 38px;
    color: #532222;
}

.vinos-cont{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 90%;
    margin: auto;
}

.prod1{
    align-items: flex-start;
    cursor:pointer;
    display: flex;
    height: 384px;
    margin-top: 24px;
    width: 24%;
}

.overlap-group-container{
    align-items: flex-end;
    background-color: var(--crater-brown);
    border-radius: 45px;
    display: flex;
    flex-direction: column;
    gap: 14px;
    min-height: 384px;
    padding: 0 12px;
    width: 276px;
}
.image-container{
    align-self: center;
    height: 241px;
    margin-right: 23.1px;
    margin-top: 13px;
    position: relative;
    width: 90px;
}
.vinoImg{
    height: 241px;
    left:35px;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 55px;
}
.copaImg{
    height: 124px;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 117px;
    width: 48px;
}

.overlap-group{
    height: 115px;
    position: relative;
    width: 232px;
}
.overlap-group-1{
    height: 115;
    left: 0;
    position: absolute;
    top: 0px;
    width: 232px;
}
.favIcon{
    height: 74px;
    left: 158px;
    object-fit: cover;
    position: absolute;
    top: 41px;
    width: 74px;
}
.titulo-1{
    /* ProductoX */
    height: 33px;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0px;
    width: 146px;

    font-family: 'League Spartan';
    
    font-size: 36px;
    color: #DBCAD3;
}
.valgin-text-middle{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'League Spartan';
    font-size: 19px;
}
.titulo-2{
    /* Viñedo de Procedencia */
    height: 33px;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 30px;
    width: 170px;

    font-family: 'Libre Baskerville';
    font-weight: normal;
    font-style: italic;
    font-size: 14px;
    color: #B8B8B8;
}
.titulo-3{
    /* Precio */
    height: 33px;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 63px;
    width: 146px;


    font-family: 'League Spartan';
    font-size: 36px;
    color:#DBCAD3;
}

footer{
    background: #4F0808;
    padding-top: 20px;
    padding-bottom: 15px;
    color: #fff;
    font-family: 'League Spartan';
}
footer .contenedor{
    display: flex;
    flex-direction: column;
    align-items: center;
}
footer h3{
    color: #fff;
    font-size: 40px;
    font-weight: 400;
}
footer .iconos-redes-sociales{
    margin: 90px 0;
    width: 250px;
    display: flex;
    justify-content: space-between;
}
footer .iconos-redes-sociales a img{
    max-width: 100%;
    height: 50px;
    width: 50px;
}
footer .datos-footer{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
footer .datos-footer .correo{
    text-decoration: underline;
}
footer .datos-footer .copyright{
    width: 100%;
    text-align: right;
}