*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}
body{
    background-color: #EEEDD9;
}
header{
    padding: 20px;
}
header .fila{
    display: flex;
    justify-content: space-between;
}
header nav{
    width: 85%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
header nav a{
    display: inline-block;
    font-family: 'Karma';
    font-size: 20px;
    text-transform: uppercase;
    color: #000;
}
header .enlaces-header{
    display: flex;
    align-items: center;
}
header .enlaces-header a{
    display: inline-block;
    width: 30px;
    height: 30px;
}
header .enlaces-header a img {
    width: 100%;
}
header .enlaces-header div.vertical{
    margin: 0 15px;
    border: 1px solid rgba(0, 0, 0, 0.36);
    height: 30px;
}

.userSection{
    display: flex;
    justify-content: center;

    
}

.userContainer{
    height: 75vh;
    width: 85%;
    background-color: #E4C3B9;
    border-radius: 1rem;
}

.nombreFoto{
    display: flex;
    justify-content: center;

    padding-top: 45px;
    height: 35%;
    border: green 3px solid;

}
.circulo{
    height: 130px;
    width: 130px;
    background-color: rgb(92, 12, 12);
    border-radius: 50rem;

}
.historialPedidos{
    display: block;

    height: 55%;
    /* border:blue 3px solid; */
}


.nombreFoto img{
    height: 125px;
}
.historialPedidos{
    

}
.encabezados{
    display: flex;
    justify-content: center;
    
    background-color: rgb(92, 12, 12);
    color: rgb(255, 231, 231);
    
    /* border: red 3px solid; */

    
}
.encabezados p{

    padding-left: 125px;
    padding-right: 125px;

    /* border: green 3px solid; */
}

.datos{
    display: flex;
    justify-content: center;
    /* border: green 3px solid; */
}

.datos p, a{
    padding-left: 100px;
    padding-right: 100px;

    

    /* border: green 3px solid; */
}
.datos a{
    padding-top: 1%;
}
.userContainer h1{
    display: flex;
    justify-content: center;
}


p{
    display: block;
    
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}